@page
@model FaulknerCountyMuseumGallery.Pages.Collections.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div  id="page_title">Collections</div>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table b">
    <thead>
        <tr class="top">
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Collection) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="green-link" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="green-link" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a class="green-link" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="add_button" asp-page="Create">+</a>
