@page "{id:int?}"
@model GalleryModel

@{
    ViewData["Title"] = "Artworks";
}

<div id="title">Digital Gallery</div>

<form asp-page="./Gallery" method="get">
    <div>
        <p>
            Search by title, medium, or artist:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" id="searchb" />
            <a asp-page="./Gallery">Back to full List</a>
        </p>
    </div>
</form>

<style>
div.gallery {
  border: 1px solid #ccc;
  background-color: white;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  display: inline-block;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 1;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  column-fill: balance;
}

@@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
</style>

<div class="b">
  <section id="photos">

  @foreach (var item in Model.ArtworkData.Artworks) {
      <div class="responsive">
      <div class="gallery" >
          <a target="_self" asp-page="./GalleryDetails" asp-route-id="@item.ArtworkID">
          <img src="@Html.DisplayFor(modelItem => item.ImageLink)" alt="@Html.DisplayFor(modelItem => item.Title)" width="600" height="400">
          </a>
          <div class="desc">@Html.DisplayFor(modelItem => item.Title)</div>
      </div>
      </div>
      }
  </section>
</div>

@{
    var prevDisabled = !Model.ArtworkData.Artworks.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ArtworkData.Artworks.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.ArtworkData.Artworks.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled" id="searchb">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.ArtworkData.Artworks.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled" id="searchb">
    Next
</a>