@page
@model GalleryDetailsModel

@{
    ViewData["Title"] = "GalleryDetails";
}

<style>
img {
  max-width: 100%;
  max-height: 50vh;
  width: auto;
  height: auto;
}
</style>

<div id="title" style="text-align: left; margin-left: 20px;">Artwork Details</div>

<div class="b">
    <h4>Artwork</h4>
    <hr />
    <img src="@Html.DisplayFor(model => model.Artwork.ImageLink)" alt="@Html.DisplayFor(model => model.Artwork.Title)">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Medium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Medium.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Artist.Name)
        </dd>
    </dl>
</div>
<div>
    <a  class="nav-link text-dark" target="_parent" asp-page="./Gallery"><div id="titleb">Back to Gallery</div></a>
</div>
