@page
@model GalleryDetailsModel
@{
    ViewData["Title"] = "GalleryDetails";
}
<style>
img {
  max-width: 100%;
  max-height: 50vh;
  width: auto;
  height: auto;
}
.artist {
  font-size: 2rem;
  font-weight: bolder;
}
.title {
  font-size: 1.75rem;
  font-weight: bold;
}
.info {
    font-size: 1.5rem;
}
.moreinfo {
    font-size: 1.25rem;
    font-weight: lighter;
}
.identifier {
    font-size: 2rem;
    font-weight: bold;
}
</style>

<div class="b">
    <h4 class="identifier">@Html.DisplayFor(model => model.Artwork.Collection.Name) #@Html.DisplayFor(model => model.Artwork.AccessionNumber)</h4>
    <hr />
    <img src="@Html.DisplayFor(model => model.Artwork.ImageLink)" alt="@Html.DisplayFor(model => model.Artwork.Title)">
    <hr />
    <p class="artist">@Html.DisplayFor(model => model.Artwork.Artist.Name)</p>
    <p class="title">@Html.DisplayFor(model => model.Artwork.Title)</p>
    <p class="info">@Html.DisplayFor(model => model.Artwork.Medium.Description)</p>
    <p class="info">@Html.DisplayFor(model => model.Artwork.Size)</p>


     @if ((!string.IsNullOrEmpty(@Model.Artwork.Donor)) && (!string.IsNullOrEmpty(@Model.Artwork.Status)))
        {
         <p class="moreinfo">"@Html.DisplayFor(model => model.Artwork.Title)" was donated by @Html.DisplayFor(model => model.Artwork.Donor) and is currently @Html.DisplayFor(model => model.Artwork.Status).</p>
        } 
    else if(!string.IsNullOrEmpty(@Model.Artwork.Donor))
        {
        <p class="moreinfo">"@Html.DisplayFor(model => model.Artwork.Title)" was donated by @Html.DisplayFor(model => model.Artwork.Donor).</p>
        }
    else if(!string.IsNullOrEmpty(@Model.Artwork.Status))
        {
        <p class="moreinfo">"@Html.DisplayFor(model => model.Artwork.Title)" is currently @Html.DisplayFor(model => model.Artwork.Status).</p>
        }
</div>
<div>
    <a target="_parent" asp-page="./Gallery">Back to Gallery</a>
</div>