@page
@model FaulknerCountyMuseumGallery.Pages.Artworks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div  id="page_title">Artwork Details</div>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.AccessionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.AccessionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.ImageLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.ImageLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Donor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Donor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Medium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Medium.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artwork.Collection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artwork.Collection.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Artwork?.ArtworkID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
